{{#each items}}
  <ul class="hero__list">
    <li class="hero__list-item">
      <img src={{img}} alt="Eurovision 2021 finals" class="list__item-img" />
      <div class="list__item-border"></div>
      <h3 class="list__item-title eurovision">{{title}}</h3>
      <time datetime="2021-05-13" class="list__item-time">{{time}}</time>
      <address class="list__item-address">
        <svg width="6" height="9">
          <use href="./icons/symbol-defs.svg#icon-location"></use>
        </svg>
        {{address}}
      </address>
    </li>
  </ul>
{{/each}}