<header class="header">
  
  <div class="container">
    <div class="header__bg-shape"></div>
    <svg class="header__logo" width="60" height="31">
      <use href="./icons/symbol-defs.svg#icon-logo"></use>
    </svg>
    <h1 class="header__title">Find best events around the world</h1>
    <div class="header__wrapper">
      <div class="header__container-input searching">
        <input
          type="text"
          class="header__search search__header"
          id="event-searching"
          placeholder="Start searching"
        />
        <svg width="12" height="12" class="container__input-icon">
          <use href="./icons/symbol-defs.svg#icon-search"></use>
        </svg>
      </div>
      <div class="header__container-input select__contry-container">
        <button type="button" class="choose__btn search__header">
          Choose country
          <!-- <svg width="15" height="10" class="container__input-icon">
            <use href="./icons/symbol-defs.svg#icon-country"></use>
          </svg> -->
          <img src="./icons/triugolinik.svg" alt="" width="15" height="10" class="container__input-icon" >
        </button>

        <ul class="select__contry" hidden></ul>
      </div>
    </div>
  </div>
</header>