<section class="hero">
  <div class="container">
    <ul class="hero__list">
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/eurovision-mobile@1x.png 1x,
              ./img/eurobision-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/eurovision-tablet@1x.png 1x,
              ./img/eurovision-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/eurovision-mobile@1x.png"
            alt="Eurovision 2021 finals"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>
        <h3 class="list__item-title eurovision">Eurovision 2021 finals!</h3>
        <time datetime="2021-05-13" class="list__item-time">2021-05-13</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/black-eyes-tablet@1x.png 1x,
              ./img/black-eyes-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/black-eyes-mobile@1x.png 1x,
              ./img/black-eyes-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/black-eyes-mobile@1x.png"
            alt="Black Eyes Peds"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">Atlas Weekend</h3>
        <time datetime="2021-06-09" class="list__item-time">2021-06-09</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="./img/lp-tablet@1x.png 1x, ./img/lp-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/lp-mobile@1x.png 1x, ./img/lp-mobile@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/lp-mobile@1x.png" alt="LP" class="list__item-img" />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">LP</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-27</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/monatik-tablet@1x.png 1x,
              ./img/monatik-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/monatik-mobile@1x.png 1x,
              ./img/monatik-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/monatik-mobile@1x.png"
            alt="LP"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">MONATIK</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-17</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/monatik-tablet@1x.png 1x,
              ./img/monatik-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/monatik-mobile@1x.png 1x,
              ./img/monatik-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/monatik-mobile@1x.png"
            alt="LP"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">MONATIK</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-17</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="./img/lp-tablet@1x.png 1x, ./img/lp-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/lp-mobile@1x.png 1x, ./img/lp-mobile@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/lp-mobile@1x.png" alt="LP" class="list__item-img" />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">LP</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-27</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/black-eyes-tablet@1x.png 1x,
              ./img/black-eyes-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/black-eyes-mobile@1x.png 1x,
              ./img/black-eyes-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/black-eyes-mobile@1x.png"
            alt="Black Eyes Peds"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">Atlas Weekend</h3>
        <time datetime="2021-06-09" class="list__item-time">2021-06-09</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/eurovision-mobile@1x.png 1x,
              ./img/eurobision-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/eurovision-tablet@1x.png 1x,
              ./img/eurovision-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/eurovision-mobile@1x.png"
            alt="Eurovision 2021 finals"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title eurovision">Eurovision 2021 finals!</h3>
        <time datetime="2021-05-13" class="list__item-time">2021-05-13</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/black-eyes-tablet@1x.png 1x,
              ./img/black-eyes-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/black-eyes-mobile@1x.png 1x,
              ./img/black-eyes-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/black-eyes-mobile@1x.png"
            alt="Black Eyes Peds"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">Atlas Weekend</h3>
        <time datetime="2021-06-09" class="list__item-time">2021-06-09</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/eurovision-mobile@1x.png 1x,
              ./img/eurobision-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/eurovision-tablet@1x.png 1x,
              ./img/eurovision-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/eurovision-mobile@1x.png"
            alt="Eurovision 2021 finals"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title eurovision">Eurovision 2021 finals!</h3>
        <time datetime="2021-05-13" class="list__item-time">2021-05-13</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/monatik-tablet@1x.png 1x,
              ./img/monatik-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/monatik-mobile@1x.png 1x,
              ./img/monatik-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/monatik-mobile@1x.png"
            alt="LP"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">MONATIK</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-17</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="./img/lp-tablet@1x.png 1x, ./img/lp-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/lp-mobile@1x.png 1x, ./img/lp-mobile@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/lp-mobile@1x.png" alt="LP" class="list__item-img" />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">LP</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-27</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/eurovision-mobile@1x.png 1x,
              ./img/eurobision-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/eurovision-tablet@1x.png 1x,
              ./img/eurovision-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/eurovision-mobile@1x.png"
            alt="Eurovision 2021 finals"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title eurovision">Eurovision 2021 finals!</h3>
        <time datetime="2021-05-13" class="list__item-time"> 2021-05-13</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/monatik-tablet@1x.png 1x,
              ./img/monatik-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/monatik-mobile@1x.png 1x,
              ./img/monatik-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/monatik-mobile@1x.png"
            alt="LP"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">MONATIK</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-17</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="./img/lp-tablet@1x.png 1x, ./img/lp-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/lp-mobile@1x.png 1x, ./img/lp-mobile@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/lp-mobile@1x.png"
            alt="Eurovision 2021 finals"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">LP</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-27</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/black-eyes-tablet@1x.png 1x,
              ./img/black-eyes-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/black-eyes-mobile@1x.png 1x,
              ./img/black-eyes-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/black-eyes-mobile@1x.png"
            alt="Black Eyes Peds"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">Atlas Weekend</h3>
        <time datetime="2021-06-09" class="list__item-time">2021-06-09</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="./img/lp-tablet@1x.png 1x, ./img/lp-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/lp-mobile@1x.png 1x, ./img/lp-mobile@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/lp-mobile@1x.png" alt="LP" class="list__item-img" />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">LP</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-27</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/black-eyes-tablet@1x.png 1x,
              ./img/black-eyes-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/black-eyes-mobile@1x.png 1x,
              ./img/black-eyes-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <img
            src="./img/black-eyes-mobile@1x.png"
            alt="Black Eyes Peds"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">Atlas Weekend</h3>
        <time datetime="2021-06-09" class="list__item-time">2021-06-09</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/monatik-tablet@1x.png 1x,
              ./img/monatik-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/monatik-mobile@1x.png 1x,
              ./img/monatik-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/monatik-mobile@1x.png"
            alt="LP"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">MONATIK</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-17</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          VDNH
        </address>
      </li>
      <li class="hero__list-item">
        <picture>
          <source
            srcset="
              ./img/eurovision-mobile@1x.png 1x,
              ./img/eurobision-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/eurovision-tablet@1x.png 1x,
              ./img/eurovision-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/eurovision-mobile@1x.png"
            alt="Eurovision 2021 finals"
            class="list__item-img"
          />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title eurovision">Eurovision 2021 finals!</h3>
        <time datetime="2021-05-13" class="list__item-time">2021-05-13</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
      <li class="hero__list-item tablet-v">
        <picture>
          <source
            srcset="./img/lp-tablet@1x.png 1x, ./img/lp-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/lp-mobile@1x.png 1x, ./img/lp-mobile@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img src="./img/lp-mobile@1x.png" alt="LP" class="list__item-img" />
        </picture>
        <div class="list__item-border"></div>

        <h3 class="list__item-title">LP</h3>
        <time datetime="2021-07-27" class="list__item-time">2021-07-27</time>
        <address class="list__item-address">
          <svg width="6" height="9">
            <use href="./icons/symbol-defs.svg#icon-location"></use>
          </svg>
          Palace of Ukraine
        </address>
      </li>
    </ul>
    <h2 class="error hidden" id="hero__error">
      Sorry this country hasn't any events.Pleas reload page for continue work
    </h2>

    <!-- <script id="my-template" type="text/x-handlebars-template">
      <ul class="hero__list other">
        {{#each info__list}}
          <li class="hero__list-item">
            <img
              src="{{img}}"
              alt="Eurovision 2021 finals"
              class="list__item-img"
            />
            <div class="list__item-border"></div>
            <h3 class="list__item-title eurovision">{{name}}</h3>
            <time datetime="2021-05-13" class="list__item-time">{{time}}</time>
            <address class="list__item-address">
              <svg width="6" height="9">
                <use href="./icons/symbol-defs.svg#icon-location"></use>
              </svg>
              {{address}}
            </address>
          </li>
        {{/each}}
      </ul>
    </script> -->
    <!-- Тут типо нумерация страниц будет -->
    <ul class="hero__page-number">
      <!-- <li class="page current">1</li>
      <li class="page">2</li>
      <li class="page">3</li>
      <li class="page">4</li>
      <li class="page">5</li>
      <li class="dots">...</li>
      <li class="page">156</li> -->
    </ul>
  </div>
</section>
