@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
}

.container {
  width: 18.4375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 38.125rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 59.125rem;
  }
}
header {
  position: relative;
  padding-top: 1.4375rem;
  padding-bottom: 3.25rem;
  background: url("../img/background-mobile.png") no-repeat center;
}
header .header__bg-shape {
  position: absolute;
  width: 150;
  height: 150;
  top: 0;
  z-index: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.475);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom-right-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__logo {
  position: relative;
  z-index: 1;
  top: 0;
}
header .header__title {
  margin-top: 1.5625rem;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  color: #dc56c5;
}
header .search__header {
  width: 16.88rem;
  height: 2.5rem;
  padding-left: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #939393;
  border-radius: 1.25rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
header .choose__btn {
  position: relative;
  z-index: 1;
  text-align: start;
}
header .select__contry {
  position: absolute;
  top: 30px;
  width: 270px;
  height: 120px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  overflow-y: auto;
  scrollbar-color: grey transparent;
  color: white;
  z-index: 999;
}
header .select__contry li {
  font-size: 18px;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
header .select__contry li:hover {
  font-weight: 700;
}
header .header__container-input {
  position: relative;
}
header .header__container-input:last-child {
  margin-top: 25px;
}
header .header__container-input .container__input-icon {
  position: absolute;
  top: 14px;
  left: 14.25rem;
  transition: transform 200ms;
}

.container__input-icon.rotate {
  transform: rotate(180deg);
}

@media screen and (min-width: 60px) {
  header {
    background: url("../img/background-tablet.png") no-repeat center;
    padding-top: 2.5rem;
    padding-bottom: 7.6875rem;
  }
  header .header__bg-shape {
    width: 90;
    height: 90;
  }
}
@media screen and (min-width: 768px) {
  header {
    background: url("../img/background-tablet.png") no-repeat center;
    padding-top: 2.5rem;
    padding-bottom: 7.6875rem;
  }
  header .header__logo {
    width: 6.25rem;
    height: 3.125rem;
  }
  header .header__bg-shape {
    width: 120;
    height: 120;
  }
  header .header__title {
    font-size: 1.88rem;
    width: 22.125rem;
    margin: auto;
  }
  header .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  header .searching {
    margin-top: 1.6875rem;
  }
}
@media screen and (min-width: 1200px) {
  header {
    background: url("../img/background-desktop.png") no-repeat center;
  }
  header .header__logo {
    width: 8.5625rem;
    height: 4.1875rem;
  }
  header .header__bg-shape {
    width: 150;
    height: 150;
  }
  header .header__title {
    font-size: 3.12rem;
    width: 36.75rem;
  }
}
.hero {
  padding-bottom: 3.75rem;
}
.hero .hero__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.hero .hero__list .hero__list-item {
  position: relative;
  flex-basis: calc((100% - 14px) / 2);
  text-align: center;
}
.hero .hero__list .hero__list-item:hover {
  cursor: pointer;
}
.hero .hero__list .hero__list-item .list__item-img {
  position: relative;
  z-index: 1;
}
.hero .hero__list .hero__list-item .list__item-border {
  position: absolute;
  top: -0.625rem;
  right: -10px;
  width: 6.75rem;
  height: 6.31rem;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 3.12rem 0;
  z-index: 10;
}
.hero .hero__list .hero__list-item .list__item-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 0.88rem;
  text-align: center;
  color: #dc56c5;
}
.hero .hero__list .hero__list-item .eurovision {
  font-size: 1rem;
}
.hero .hero__list .hero__list-item .list__item-time {
  margin-bottom: 5px;
  font-size: 0.88rem;
  text-align: center;
  color: #fff;
}
.hero .hero__list .hero__list-item .list__item-address {
  font-weight: 600;
  font-size: 0.75rem;
  color: #fff;
}
.hero .hero__list .tablet-v {
  display: none;
}
.hero .error {
  color: #e11818;
  font-size: 1.7rem;
  text-align: center;
}
.hero .hidden {
  display: none;
}
.hero .active {
  display: block;
}

.hero__page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 80px;
}
.hero__page-number .page {
  cursor: pointer;
  padding: 5px 12px;
  margin-right: 5px;
}
.hero__page-number .current {
  color: #dc56c5;
  outline: 2px solid #dc56c5;
  border-radius: 10px 0 10px 0;
}

@media screen and (min-width: 48rem) {
  .hero .hero__list {
    position: relative;
    z-index: 1;
    row-gap: 2.8125rem;
    -moz-column-gap: 0.8125rem;
         column-gap: 0.8125rem;
  }
  .hero .hero__list .hero__list-item {
    position: relative;
    flex-basis: calc((100% - 26px) / 3);
  }
  .hero .hero__list .hero__list-item .list__item-border {
    width: 9.56rem;
    height: 8.94rem;
  }
  .hero .hero__list .hero__list-item .list__item-title {
    font-size: 1rem;
  }
  .hero .hero__list .hero__list-item .list__item-time {
    font-size: 1rem;
  }
  .hero .hero__list .hero__list-item .list__item-address {
    font-size: 0.88rem;
  }
  .hero .hero__list .tablet-v {
    display: block;
  }
}
@media screen and (min-width: 75rem) {
  .hero .hero__list {
    row-gap: 3.125rem;
    -moz-column-gap: 3.4375rem;
         column-gap: 3.4375rem;
  }
  .hero .hero__list .hero__list-item {
    flex-basis: calc((100% - 168px) / 4);
  }
  .hero .hero__list .hero__list-item .list__item-border {
    width: 9.56rem;
    height: 8.94rem;
  }
  .hero .hero__list .tablet-v {
    display: none;
  }
}
footer {
  padding-top: 60px;
  padding-bottom: 27px;
}

footer > .container {
  display: flex;
  justify-content: center;
}

.footer__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.88rem;
  text-align: center;
  color: #939393;
}
.footer__link .heart {
  color: red;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 1rem;
  }
}
.mobile {
  z-index: 9999;
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.is-open {
  display: block;
  visibility: visible;
  opacity: 1;
}

.mobile__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.mobile__window {
  position: relative;
  width: 272px;
  height: 915px;
  background-color: #fff2fd;
  border-radius: 150px 0px;
  padding: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 0.3s ease;
  max-height: 800px;
}
@media screen and (min-width: 768px) {
  .mobile__window {
    width: 595px;
    height: 831px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    padding: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__window {
    width: 930px;
    height: 900px;
    padding: 20px;
    max-height: 800px;
  }
}

.mobile__btn {
  position: absolute;
  border: none;
  top: 1.5625rem;
  right: 1.5625rem;
  background-color: #fff2fd;
}
@media screen and (min-width: 75rem) {
  .mobile__btn {
    top: 1.875rem;
    right: 1.875rem;
  }
}

.mobile__icon {
  width: 30px;
  height: 30px;
}

.mobile__logo {
  width: 110px;
  margin: 60px auto 0;
}
@media screen and (min-width: 768px) {
  .mobile__logo {
    width: 90px;
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__logo {
    width: 132px;
    height: 132px;
  }
}

.mobile__box1 {
  margin-top: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mobile__box1 {
    margin-top: 36px;
    display: flex;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__box1 {
    text-align: start;
    gap: 25px;
    margin-top: 41px;
  }
}

.mobile__code {
  width: 29px;
  height: 19px;
  margin-right: 0px;
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .mobile__code {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__code {
    margin-right: 13px;
    margin-bottom: 0px;
  }
}

.mobile__subtitle {
  color: #dc56c5;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .mobile__subtitle {
    font-size: 24px;
    margin-bottom: 5px;
  }
}

.mobile__subtitle-price {
  color: #dc56c5;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 7px;
}
@media screen and (min-width: 768px) {
  .mobile__subtitle-price {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__subtitle-price {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.mobile__text {
  color: #0e0e0e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  max-width: 243px;
  margin-bottom: 10px;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .mobile__text {
    max-width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__text {
    font-size: 17px;
    max-width: 585px;
    margin-bottom: 20px;
  }
}

.mobile__time {
  color: #0e0e0e;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

.mobile__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile__img {
    display: block;
    width: 260px;
    height: 470px;
    margin-left: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__img {
    display: block;
    height: 410px;
    width: 250px;
    margin-left: 30px;
  }
}

.mobile__box4 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .mobile__box4 {
    display: flex;
    gap: 25px;
  }
}

.mobile__box5 {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .mobile__box5 {
    gap: 50px;
  }
}

.mobile__more-btn {
  margin-top: 20px;
  display: flex;
  justify-self: center;
  padding: 10px 10px;
  background-color: #fff2fd;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #4c00fe;
  color: #4c00fe;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .mobile__more-btn {
    width: 255px;
    font-size: 16px;
    margin-top: 45px;
  }
}
.mobile__buy-btn {
  width: 100px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: #4c00fe;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .mobile__buy-btn {
    width: 130px;
    height: 35px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__buy-btn {
    width: 145px;
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
  }
}

.mobile__list-price {
  display: flex;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .mobile__list-price {
    justify-self: flex-start;
    display: block;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__list-price {
    display: flex;
    justify-self: center;
  }
}

.mobile__item-price {
  display: flex;
  flex-wrap: wrap;
  max-width: 110px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .mobile__item-price {
    justify-content: flex-start;
    max-width: 1000px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__item-price {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .mobile__box3 {
    margin-left: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__box3 {
    margin-left: 30px;
  }
}/*# sourceMappingURL=index.css.map */