.container {
  // position: relative;
  width: 18.4375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 38.125rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 59.125rem;
  }
}
