@use "../abstracts/variables";
.hero {
  padding-bottom: 3.75rem;
  .hero__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 14px;
    .hero__list-item {
      position: relative;

      flex-basis: calc((100% - 1 * 14px) / 2);
      text-align: center;

      &:hover {
        cursor: pointer;
      }
      .list__item-img {
        position: relative;
        z-index: 1;
      }
      .list__item-border {
        position: absolute;
        top: -0.625rem;
        right: -10px;

        width: 6.75rem;
        height: 6.31rem;

        border: 1px solid rgba(220, 86, 197, 0.3);
        border-radius: 3.12rem 0;

        z-index: 10;
      }
      .list__item-title {
        margin-top: 5px;
        margin-bottom: 5px;

        font-weight: 700;
        font-size: 0.88rem;
        text-align: center;

        color: variables.$title-color;
      }
      .eurovision {
        font-size: 1rem;
      }
      .list__item-time {
        margin-bottom: 5px;
        font-size: 0.88rem;
        text-align: center;
        color: variables.$text-color;
      }
      .list__item-address {
        font-weight: 600;
        font-size: 0.75rem;
        color: variables.$text-color;
      }
    }
    .tablet-v {
      display: none;
    }
  }
  .error {
    color: #e11818;
    font-size: 1.7rem;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .active {
    display: block;
  }
}

.hero__page-number{
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$text-color;
  margin-top: 80px;
  .page{
    cursor: pointer;
    padding: 5px 12px;
    margin-right: 5px;

    
  }
  .current {
    color: variables.$title-color;
    outline: 2px solid variables.$title-color;
    border-radius: 10px 0 10px 0;
  }
}

@media screen and (min-width: 48rem) {
  .hero {
    .hero__list {
      position: relative;
      z-index: 1;
      row-gap: 2.8125rem;
      column-gap: 0.8125rem;
      .hero__list-item {
        position: relative;
        flex-basis: calc((100% - 2 * 13px) / 3);

        .list__item-border {
          width: 9.56rem;
          height: 8.94rem;
        }

        .list__item-title {
          font-size: 1rem;
        }

        .list__item-time {
          font-size: 1rem;
        }

        .list__item-address {
          font-size: 0.88rem;
        }
      }
      .tablet-v {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 75rem) {
  .hero {
    .hero__list {
      row-gap: 3.125rem;
      column-gap: 3.4375rem;
      .hero__list-item {
        flex-basis: calc((100% - 3 * 56px) / 4);
        .list__item-border {
          width: 9.56rem;
          height: 8.94rem;
        }
      }
      .tablet-v {
        display: none;
      }
    }
  }
}
